.contacts {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  display: inline-block;
  width: 230px;
}

.removeBtn {
  background-color: red;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}

.removeBtn:hover,
.removeBtn:focus {
  background-color: rgb(204, 115, 115);
}
